PORT=5000
MONGODB_URI=mongodb+srv://pathelaabeer_db_user:abeer1111@cluster.mongodb.net/jalsahayak
JWT_SECRET=jalsahayak_Super_Secret_2026
GOOGLE_CLIENT_ID=232221493660-qn1m99btbkf40kqrdc2a2rcramvd0ikb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
CLOUDINARY_CLOUD_NAME=dzmtgpvuf
CLOUDINARY_API_KEY=934235734247475
CLOUDINARY_API_SECRET=2x-uNJu3oWMA7jyEqmL2cGgxEnY
GROQ_API_KEY=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
FRONTEND_URL=http://localhost:5173
